body{
	background:white;
}

.container-fluid {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

img  {
	max-width: 100%;
	display:block;
}

.logo {
	margin-top:20px; 
}

.logo2 {
	display:block;
       }

.social-only img{
	display:inline-block;
	height: 50px;
	width: 50px;
	float: right;
}

.accessibility{
	background:#2acdca;
	display:block;
	float:left;
	height:30px;
	margin-right:2px;
	margin-top:10px; 
}

.accessibility span{
	color:white;
}


.accessibility .big{
	font-size:20px;
	padding:0 3px;
}

.accessibility .normal{
	font-size:16px;
	padding:0px 3px;
	display: block;
	line-height:30px;
}
.accessibility .small{
	font-size:12px;
	padding:0px 3px;
	display: block;
	line-height:30px;
}

.search-social .search{
	width: 251.86px;
	height: 60px;
	clear:both;
	float: right;
}

.clear{
	clear:both;
}

.navigation-container{
	background-color: #0e76bd;
}

ul.active {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e76bd;
}

.active li {
    float: left;
}

.active li a {
    display: block;
    color: white;
    text-align: center;
	font-size: 18px;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 25px 17px;
    text-decoration: none;
}

.active li a.active {
    background: #0a588e;
}

.slider-news { 
	float:left;
    list-style: none;
    position:relative;
    width:236px;
    margin-right:10px;
}

.under-title {

	background-color: #ededed;
	border-bottom-left-radius:  10px;
	border-bottom-right-radius: 10px;
	padding:100px;
	margin-left:20px;
	
}

.title {
	background-color: #2acdca;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding:10px;
	margin-top:40px;
	margin-left:20px;
}

.twitter {
    width:280px;

}

footer{
	background:#002035;
	padding:20px;
	font-family: "Roboto",sans-serif;
	font-size:16px;
	color: white;

}

footer ul{
	margin:0;
	padding:0;
}

footer li{
	list-style-type: none;
	padding:5px;
}

footer li a{
	color:white;
}

.footer-bottom-menu{
	text-align: center;
}

.title-list {
	color:#007bff;
	border-bottom: 1px solid #007bff;
	padding:10px;
}

.title-list2 {
	color:white;
	text-align:center;
	background:#002035;
	padding:10px;
	list-style:none;

}

ul li img{
	display:inline-block;
}

.title-list3 {
	color:white;
}

.col-lg-12 .title-list {
	color:white;
	border:0px;
	text-align: center;
}

.col-lg-12 ul li{
	display:inline-block;
}

.bx-controls-direction {
	text-indent: -10;
	display:none;
}
.bx-controls-auto-item {
	display:none;
	border-radius:10px;
}
.bx-pager-item {
	display:inline-block

}

.slider-joe {
	background-color: #2acdca;
	border-radius:10px;
	height: 500px;
}

.slider-joe div{
	height:100px;
	background:#2acdca;
}

.bx-pager-item a{
	background-color: #DCDCDC;
	width: 10px;
	height:10px;
	text-indent:-99999px;
	display:inline-block;
	border-radius:50%;
	margin-right:5px;
}

.bx-wrapper div{
	border-radius:10px;
}

.bx-pager div {
	color:blue; 

}